:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --text-white: #dcdcdc;
  --text-black: #000;
  --bg-white: #fff;
  --bg-black: #121212;

  --gray-light: #d8d8d8;
  --gray-dark: #3c3c3c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--text-white);
  background-color: var(--bg-black);
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid var(--gray-dark);
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-black);
    background-color: var(--bg-white);
  }

  .row > div {
    border: 2px solid var(--gray-light);
  }
}
