@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/HelveticaNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@layer base {
  :root {
    color-scheme: light dark;
  
    --white: #fff;
    --gray-1: #d8d8d8;
    --gray-2: #8c8c8c;
    --gray-3: #787878; 
    --gray-4: #585858;
    --gray-5: #3c3c3c;
    --gray-6: #121212;
    --black: #000;
  
    --yellow-1: #c8b653;
    --yellow-2: #b49d3c;
  
    --green-1: #6ca965;
    --green-2: #528c4d;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .animate-flip {
    animation: flip 0.6s linear forwards;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  45% {
    transform: rotateX(90deg);
  }
  55% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  color: var(--black);
  background-color: var(--white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
    background-color: var(--gray-6);
  }
}
